# Data Science Tools and Ecosystems

## Author
Ali Al Alshaikh

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Explore open-source tools used in the Data Science ecosystem.
- Perform arithmetic operations in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas
4. ggplot
5. TensorFlow

|Data Science Tools|
|--------|
|Jupyter Notebook|
|Apache Hadoop|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335